.entry-content {
  & > :last-child {
    &,
    & > :last-child {
      margin-bottom: 0;
    }
  }

  a {
    border-bottom: 0.125em dashed $color__grey;

    &:focus,
    &:hover {
      border-bottom-color: $color__accent;
      border-bottom-color: #40E0D0;
    }

    &.footnote-return {
      border-bottom: none;
    }
  }
}
