a {
  color: $color__link;
  text-decoration: none;
  transition: color 0.1s ease-in-out;

  &:focus {
    outline-color: $color__accent;
    outline-color: #40E0D0;
  }

  &:active,
  &:hover {
    outline: 0;
  }

  &:active,
  &:focus,
  &:hover {
    color: $color__link-hover;
  }

  &.button {
    display: inline-block;
  }
}
