.footer {
  .sep-before {
    &:before {
      border-bottom-color: $color__accent;
      border-bottom-color: #40E0D0;
    }
  }

  a {
    font-style: italic;
  }

  .container > div,
  .container > section {
    width: 100%;
    margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }
  }
}
