<li class='item'>
  <header class='item-header'>
    <h3 class='item-title'>
      <a href='{{ .Permalink | relURL }}'>
        {{- .Title -}}
      </a>
    </h3>
  </header>
  <li>
    {{- .Description -}}
  </li>

</li>
